<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161010663458-d9kirjoe1jmq1v7r3qnl1oktodemq187.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161010663458-d9kirjoe1jmq1v7r3qnl1oktodemq187</string>
	<key>API_KEY</key>
	<string>AIzaSyClsZvldq50q8dyoOTbbh_r-sRAnpbE9v8</string>
	<key>GCM_SENDER_ID</key>
	<string>161010663458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.flatflutter.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e6fcc</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e6fcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161010663458:ios:eda6a5a1828bd4ca3eca7b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e6fcc.firebaseio.com</string>
</dict>
</plist>